{% extends 'base.html.twig' %}

{% block title %}Safer - A propos!{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nous faisons du bon boulot</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  A propos
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= About Section ======= -->
    <section class="section-about mb-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="assets/img/slide-about-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">Safer
                <span></span>
                <br> Depuis 1960  
              </h3>
              <p> Foncier & aménagement durable </p>
            </div>
          </div>
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="assets/img/about-2.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
                <div class="title-vertical d-flex justify-content-start">
                  <span>Devenez Safer. </span>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">Que
                    <span class="color-d">faisons</span> nous ?
                  </h3>
                </div>
                <p class="color-text-a">
                  <ul>
                    <li>informent le public des ventes de biens fonciers et immobiliers en zone rurale,</li>
                    <li>apportent un conseil auprès des acquéreurs, les informent et les orientent vers les bons interlocuteurs,</li>
                    <li>observent le marché foncier de leur région et assurent un rôle de régulateur du marché,</li>
                    <li>facilitent les placements financiers des investisseurs,</li>
                    <li>expertisent la valeur des biens agricoles,</li>
                    <li>en tant qu’intermédiaires, entre vendeur et acquéreurs potentiels, améliorent les structures d’exploitations destinées à l’agriculture, etc.</li>
                  </ul>
                </p>
                <p class="color-text-a">
                  Vous êtes porteur de projet, acheteur, jeune agriculteur, investisseur, vous cherchez à développer une activité contribuant au dynamisme du monde rural (artisanat, tourisme et loisirs, activité socioculturelle), la Safer peut vous aider dans votre projet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}
